<app-form></app-form>
<!-- {{array}}
<p *ngFor="let t of reels">{{t
}}
</p>
<div class="media-container" *ngFor="let mediaItem of mediaData">
     Display an image -->
    <!-- <img *ngIf="mediaItem.type === 102" [src]="mediaItem.url" alt="Media Image" />
  
    < Display a video -->
    <!-- <video *ngIf="mediaItem.type === 101" width="{{ mediaItem.width }}" height="{{ mediaItem.height }}" controls>
      <source [src]="mediaItem.url" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div> -->
   