<div class="container">
  <div><h1>Update content</h1></div>
<form class="example-form">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput #title [value]="myData.title"  placeholder="Ex.title" >
    </mat-form-field>
  </div>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea #description matInput [value]="myData.description" ></textarea>
    </mat-form-field>
      <!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
     <div>
      <button class="btn btn-primary" [mat-dialog-close]="true" (click)="update(title.value,description.value)">submit</button>
      <button class="btn btn-dark" mat-button [mat-dialog-close]="false">cancel</button>
    </div>
  </form>
</div>